@import url('https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&family=Vollkorn+SC:wght@400;600;700;900&display=swap');

:root {
--basic-Bg: #ffffff;
--color-input-border: #b7bcc4;
--color-popup: #333B47;
--color-success: #16C784;
--color-success-opacity-0_15: hsl(157 61% 46% / 0.15);
--color-error: #EE8282;
--color-error-opacity-0_15: hsl(352 91% 62% / 0.15);
--default-font-color: #1f1f1f;
--default-font-size: 16px;
--default-padding: 8px;
--default-icon-size: 16px;
--default-border-radius: 8px;
--default-input-color: #DFDFDF80;
--default-chart-ticker-color: #DFDFDF80;
--default-font: "Noto Sans", sans-serif;
--default-input-bg: #DFDFDF80;
--default-orderbook-bg: #DFDFDF80;
--footer-margin-bottom: 50px;
--default-gap: 10px;
--default-margin-bottom: 60px;
--default-bottom-px: 10px;

/* AppMenu */
--router-link-font-size: 16px;
--wrapper-margin-right-left-px: 20px;
--app_menu-bg-color: #DFDFDF80;

/* Chart */
--color-chart-border-left-menu-right: #dfdede;
--chart-button-font-size: 10px;
--chart-title-font-color: #DFDFDF80;
--chart-padding-left-menu-px: 8px;
--chart-bg-left-menu-color: #DFDFDF80;
--chart-bg-header-color: #DFDFDF80;
--color-chart-header-border-bottom: #dfdede;

/* Latest Best Spread */
--latest-best-spread-table-bg-color: #fb7b4d;
--latest-best-spread-table-header-bg-color: #DFDFDF80;

/* Logs */
--log-table-bg-color: #DFDFDF80;
}

.non-interactive {
    user-select: none;
    pointer-events: none;
}

.page {
width: 100%;
height: 100%;
position: absolute;
left: 0;
right: 0;
top: 0;
bottom: 0;
overflow-y: auto;
overflow-x: hidden;
}

.scroll {
padding: var(--default-padding);
box-sizing: border-box;
margin-bottom: var(--default-margin-bottom);
}

.view_header {
    padding: var(--default-padding);
    font-size: var(--default-font-size);
}

#status {
display: flex;
gap: 10px;
align-items: center;
}

#status_circle {
width: var(--default-icon-size);
height: var(--default-icon-size);
border-radius: 50%;
}

@keyframes GlitchAnimation {
from { opacity: 1; }
to { opacity: 0; }
}

.online {
background-color: var(--color-success);
animation-name: GlitchAnimation;
animation-duration: 1.6s;
animation-iteration-count:  infinite;
}

.title {
    color: var(--default-font-color);
}

#form {
display: grid;
gap: 10px;
width: 100%;
box-sizing: border-box;
justify-content: space-around;
grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
border-radius: var(--default-border-radius);
padding: var(--default-padding);
font-size: var(--default-font-size);
}

#form_label-with_icon {
display: flex;
flex-direction: row;
align-items: center;
justify-content: flex-start;
gap: 5px;
}

#form_label-with_icon img {
width: var(--default-icon-size);
height: var(--default-icon-size);
}

.img_reverse {
transform: rotate(60deg);
}

#form-column{
display: flex;
flex-direction: column;
}

.form_input {
width: 100%;
padding: var(--default-padding);
border: none;
color: var(--default-font-color);
border-radius: var(--default-border-radius);
font-size: var(--default-font-size);
margin-top: 10px;
background-color: var(--default-input-bg);
outline: none;
box-sizing: border-box;
text-transform: uppercase;
}

.form-group {
display: flex;
flex-direction: column;
}

#footer {
display: flex;
flex-direction: column;
margin-top: 10px;
padding: var(--default-padding);
overflow-y: visible;
margin-bottom: var(--footer-margin-bottom);
}

#run_buttons {
display: flex;
gap: 10px;
}

.default-btn {
flex: 1;
font-size: var(--default-font-size);
transition: all 0.25s;
padding: var(--default-padding);
color: var(--default-font-color);
border-radius: var(--default-border-radius);
border: none;
outline: none;
}

.default-btn:hover {
filter: opacity(75%);
cursor: pointer;
transition: all 0.25s;
}

.default-button-margin {
margin-bottom: var(--default-margin-bottom);
}

#start, .long {
background-color: var(--color-success);
} 

#stop, .short {
background-color: var(--color-error);
} 

#app {
-webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;
text-align: left;
color: var(--default-font-color);
font-family: var(--default-font);
font-weight: 400;
font-style: normal;
}

.icon_svg {
width: var(--default-icon-size);
height: var(--default-icon-size);
pointer-events: none;
user-select: none;
}

.icon_svg:hover {
cursor: pointer;
}

.svg_margin {
margin-right: 10px;
}

.span-text {
color: var(--default-font-color);
text-transform: capitalize;
}

html, body {
height: 100%;
margin: 0;
}

body {
background-color: var(--basic-Bg);
display: flex;
justify-content: center;
align-items: center;
}